@import '../scss/colors.scss';
@import '../scss/font.scss';

.contato {
    position: relative;
    margin-top: 4vw;
    padding-top: 4vw;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: $vermelho;
    height: 30vw;

    .contato__title {
        display: block;
        font-size: 100px;
        font-weight: 400;
        color: $branco;
        margin-bottom: 4vw;
    }

    .contato__subtitle {
        display: block;
        font-size: 30px;
        font-weight: 300;
        color: $branco;
        margin-bottom: 2vw;
    }

    .contato__bar {
        border-right: 2px solid $branco;
        margin-right: 4vw;
    }

    .contato__img {
        width: 5%;
    }

    .contato__logo {
        position: absolute;
        top: 50%;
        width: 5%;
        border: 1px solid $branco;
        border-radius: 72px;
        padding: 1vw;
    }

}

@media only screen and (min-width: 900px) and (max-width: 1100px) {

    .contato {
        .contato__title {
            font-size: 50px;
        }
    }

}

@media only screen and (min-width: 1101px) and (max-width: 1300px) {

    .contato {
        .contato__title {
            font-size: 60px;
        }
    }

}

@media only screen and (min-width: 1301px) and (max-width: 1500px) {

    .contato {
        .contato__title {
            font-size: 70px;
        }
    }

}

@media only screen and (min-width: 1501px) and (max-width: 1700px) {

    .contato {
        .contato__title {
            font-size: 80px;
        }
    }

}