@import '../scss/colors.scss';
@import '../scss/font.scss';

.contato {
    margin-top: 4vw;
    padding-top: 4vw;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: $vermelho;
    height: 30vw;

    .contato__title {
        display: block;
        font-size: 100px;
        font-weight: 400;
        color: $branco;
    }

}
