@import '../scss/colors.scss';
@import '../scss/font.scss';


#lista {
    background-image: url('../images/fundo-serviços.jpg');
}

.lista {
    padding-bottom: 4vw;

    .lista__title {
        font-size: 100px;
        font-weight: 300;
        color: $cinza;
        padding-top: 2vw;
        padding-bottom: 6vw;
        text-align: center;
    }

    .lista__card {
        margin-top: 4vw;

        .lista__card__info {
            margin-top: 4vw;

            .lista__card__info__title {
                font-size: 40px;
                font-weight: 700;
                color: $cinza;
                margin-bottom: 2vw;

            }

            .lista__card__info__text {
                font-size: 20px;
                color: $cinza;
                font-weight: 500;
                width: 90%;
                line-height: 2;
            }
        }
        
        .lista__card__img {
            width: 100%;
        }
    }
}

.right {
    margin-left: 4vw;
}

@media only screen and (min-width: 900px) and (max-width: 1100px) {
    
    .lista {
        padding-right: 5vw;
        padding-left: 5vw;

        .lista__title {
            font-size: 60px;
        }

        .lista__card {
            .lista__card__info {
                .lista__card__info__title {
                    font-size: 24px;
                }

                .lista__card__info__text {
                    font-size: 14px;
                }
            }
        }
    }

}

@media only screen and (min-width: 1101px) and (max-width: 1300px) {
    
    .lista {
        padding-right: 5vw;
        padding-left: 5vw;
        
        .lista__title {
            font-size: 80px;
        }

        .lista__card {
            .lista__card__info {
                .lista__card__info__title {
                    font-size: 30px;
                }

                .lista__card__info__text {
                    font-size: 16px;
                }
            }
        }
    }

}

@media only screen and (min-width: 1301px) and (max-width: 1500px) {

    .lista {
        padding-right: 5vw;
        padding-left: 5vw;
        
        .lista__title {
            font-size: 80px;
        }

        .lista__card {
            .lista__card__info {
                .lista__card__info__title {
                    font-size: 30px;
                }

                .lista__card__info__text {
                    font-size: 16px;
                }
            }
        }
    }


}

@media only screen and (min-width: 1501px) and (max-width: 1700px) {



}