@import '../scss/colors.scss';
@import '../scss/font.scss';
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.serviços {
    margin-top: 4vw;
    margin-bottom: 6vw;
    margin-left: 10vw;
    margin-right: 10vw;
    
    .serviços__title {
        font-size: 100px;
        font-weight: 400;
        color: $cinza;
        margin-bottom: 4vw;
    }

    .serviços__carousel {

        .serviços__carousel__item {
            position: relative;

            &:focus {
                outline: none;
                border: none;
            }

            .serviços__carousel__item__img {
                width: 100%;
                z-index: 1;

            }

            .serviços__carousel__item__text {
                position: absolute;
                z-index: 2;
                font-size: 24px;
                font-weight: 800;
                color: $branco;
                top: 40%;
                height: 20%;
                left: 25%;
                width: 50%;
                line-height: 1.5;
                text-align: center;
            }
        }
    }
}

#gerenciamento {
    font-size: 20px;
}

@media only screen and (min-width: 900px) and (max-width: 1100px) {

    .serviços {
        .serviços__title {
            font-size: 50px;
        }

        .serviços__carousel {
            .serviços__carousel__item {
                .serviços__carousel__item__text {
                    font-size: 14px;
                }
            }
        }
    }

    .slick-prev, .slick-next {
        width: 20px !important;
        height: 20px !important;
    }

    .slick-prev {
        left: -40px !important;
    }

    .slick-next {
        right: -40px !important;
    }

    #gerenciamento {
        font-size: 10px;
    }

}

@media only screen and (min-width: 1101px) and (max-width: 1300px) {

    .serviços {
        .serviços__title {
            font-size: 60px;
        }

        .serviços__carousel {
            .serviços__carousel__item {
                .serviços__carousel__item__text {
                    font-size: 16px;
                }
            }
        }
    }

    .slick-prev, .slick-next {
        width: 20px !important;
        height: 20px !important;
    }

    .slick-prev {
        left: -50px !important;
    }

    .slick-next {
        right: -50px !important;
    }

    #gerenciamento {
        font-size: 13px;
    }

}

@media only screen and (min-width: 1301px) and (max-width: 1500px) {

    .serviços {
        .serviços__title {
            font-size: 70px;
        }

        .serviços__carousel {
            .serviços__carousel__item {
                .serviços__carousel__item__text {
                    font-size: 18px;
                }
            }
        }
    }

    .slick-prev, .slick-next {
        width: 30px !important;
        height: 30px !important;
    }

    .slick-prev {
        left: -50px !important;
    }

    .slick-next {
        right: -50px !important;
    }

    #gerenciamento {
        font-size: 14px;
    }

}

@media only screen and (min-width: 1501px) and (max-width: 1700px) {

    .serviços {
        .serviços__title {
            font-size: 80px;
        }

        .serviços__carousel {
            .serviços__carousel__item {
                .serviços__carousel__item__text {
                    font-size: 20px;
                }
            }
        }
    }

    .slick-prev, .slick-next {
        width: 30px !important;
        height: 30px !important;
    }

    #gerenciamento {
        font-size: 16px;
    }

}