@import '../scss/colors.scss';
@import '../scss/font.scss';
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.serviços {
    margin-top: 4vw;
    margin-bottom: 10vw;
    margin-left: 10vw;
    margin-right: 10vw;

    .serviços__title {
        font-size: 100px;
        font-weight: 400;
        color: $cinza;
        margin-bottom: 8vw;
    }

    .serviços__carousel {

        .serviços__carousel__item {
            position: relative;

            &:focus {
                outline: none;
                border: none;
            }

            .serviços__carousel__item__img {
                width: 100%;
                z-index: 1;

            }

            .serviços__carousel__item__text {
                position: absolute;
                z-index: 2;
                font-size: 20px;
                color: $branco;
                top: 47%;
                left: 28%;
            }
        }
    }
}
